*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar Starts */

.Nav-logo{
    display: flex;
    justify-content: space-between;
}

header{
    padding: 1rem 2rem;
    background-color: grey;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.logo{
    display: flex;
    align-content: center;
}

.logo1{
    background-image: url('./Logo.png');
    background-position: center;
    background-size: cover;
    height: 3rem;
    width: 3rem;
}

.logo2{
    background-image: url('./Name.png');
    background-position: center;
    background-size: cover;
    height: 4rem;
    width: 15rem;
}

.links{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 45%;
}

.links a{
    text-decoration: none;
    color: white;
}

.sign-button{
    background-color: darkblue;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.links .div:hover{
    color: darkblue;
    font-size: 1.5rem;
}

.links .div a:hover{
    color: darkblue;
    font-size: 1.5rem;
}

.links div{
    font-size: 1.2rem;
    color: white;
    width: 15rem;
}

#sub{
    position: relative;
}

#sub_menu{
    position: absolute;
    margin-top: 1rem;
    display: none;
    
}

.sub-menu{
    margin-bottom: 0.2rem;
    border-bottom: 2px solid grey;
    display: relative;
    background-color: rgb(214, 184, 184);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    text-align: center;
}

/* extra */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

.menu-toggle {
  display: none; 
  cursor: pointer;
}

.menu-toggle .bar {
  background: white; 
}

@media screen and (max-width: 786px) {
  
}

/* Navigation Bar Ends */

/* Main Content Starts */

.symbol{
    font-size: 3rem;
}

.a1{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: row;
}

.content1{
    font-size: 1.5rem;
    padding: 2rem;
}

.space{
    margin-left: -10rem;
    margin-top: 2rem;
}
.image_container{
    padding: .75rem;
    height: 300px;
    width: 300px;
}



/* Our services */

.wrapper{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    background: #fafafa;
}
.wrapper h1{
    font-size: 3em;

    margin: 25px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.card i{
    margin: 20px;
    color: #581ed6;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: #6c757d;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg.jpg');
                                    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg2.jpg');
                                    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('bg3.jpg');
                                    background-size: cover;
}
@media(max-width:991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}

/* Our services ENDS */

/* Main Content ENDS */

/* Footer Of the Page Starts */
.footer{
    width: 100%;
    padding: 20px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div{
    text-align: center;
}

.col2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col1 a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.col2 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
/* Footer Of the Page ENDS */

